.logout{
    margin-left: 10px;
}
Link {
    text-decoration: none;
    color: white;
}
.footer{
    background-color: black;
    width: 100%;
    height: auto;
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0px;
}
.parent{
    position: relative;
    height: 70vh;
}